# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/
ENV/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Git
.git/
.gitignore

# Notebooks / data junk
.ipynb_checkpoints/
*.ipynb

# Local artifacts
uploads/

# Dataset folder (biasanya besar dan tidak dibutuhkan karena inference pakai models/*.keras)
dataset/
../dataset/

# Build artifacts
build/
dist/
*.egg-info/
